

body {
        background-color: #EBE8E4;
        color: #222;
        font-family: "Roboto";
        font-weight: 300;
        font-size: 15px;
}

nav {
    background-color: #fff;
    border: 1px solid #dedede;
    border-radius: 4px;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
    color: #888;
    display: block;
    margin: 8px 22px 8px 22px;
    overflow: hidden;
    width: 90%;
    margin-left:auto;
    margin-right:auto;
}

nav ul {
        margin: 0;
            padding: 0;
        }
         
            nav ul li {
                        display: inline-block;
                                list-style-type: none;
                                         
                                        -webkit-transition: all 0.2s;
                                                -moz-transition: all 0.2s;
                                                        -ms-transition: all 0.2s;
                                                                -o-transition: all 0.2s;
                                                                        transition: all 0.2s; 
                                                                            }
                                                                                 
                                                                                    nav > ul > li > a {
                                                                                                    color: #444;
                                                                                                                display: block;
                                                                                                                            line-height: 56px;
                                                                                                                                        padding: 0 24px;
                                                                                                                                                    text-decoration: none;
                                                                                                                                                            }

nav > ul > li:hover {
      background-color: #888888;
  }
   
  nav > ul > li:hover > a {
        color: #fafafa;
    }
     
    nav > ul > li:hover > a > .caret {
          border-top-color: rgb( 255, 255, 255 );
      }

      nav > ul > li {
        transition: 0.15 all ease-in
      }

      nav > ul > li > a {
        transition: 0.15 all ease-in
      }

nav > ul > li.active {
    background-color: #888888
}

nav > ul > li.active > a {
    color : #fafafa
}

.container {
    display: flex;
    flex-direction: row;
    margin-bottom: 12px;
    width: 1000px;
    margin-left: auto;
    margin-right:auto
}

.container > .item {
    flex-grow: 1;
    display: block;
    padding: 20px 28px 20px;
}

.container > .item > .img {
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: auto;
    display: block;
}

.container > .item > .title {
    font-family: "Roboto";
    font-weight: 500;
    text-transform: uppercase;
    font-size: 18px;
    text-align: center
}

.block {
    background-color: #fff;
    border: 1px solid #dedede;
    border-radius: 4px;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
    color: #888;
    display: block;
    margin: 8px 22px 8px 22px;
    overflow: hidden;
    width: 90%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 40px;
    margin-top: 40px;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 18;
    padding: 20px 30px;
    box-sizing: border-box
}

